// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1400px;
    }
}

#leagueTable,
#leagueTable td,
#leagueTable th {
    border: 1px solid black;
    padding: 5px;
}

#leagueTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}
